* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'comic Neue', cursive;
    font-size: 10px;
    background-color: #2a9d8f;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    color: #264653;
}

#gameBoard {
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5rem auto 0;
}

.square {
    border: 0.3rem solid #264653;
}

.square:hover {
    background-color: #264653;
    cursor: pointer;
}